{% extends 'base.html.twig' %}


{% block content %}
    <h1 class="h3 mb-3 font-weight-normal">Editing @{{ app.user.username }}</h1>


    {{ form_start(registrationForm) }}
        <p>
            {{ form_errors(registrationForm) }}
        </p>
        <label class="label">{{ form_label(registrationForm.email) }}</label>
        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control mb-3'}}) }}

        <label class="label">{{ form_label(registrationForm.display_name) }}</label>
        {{ form_widget(registrationForm.display_name, {'attr': {'class': 'form-control mb-3'}}) }}

        <button type="submit" class="btn btn-primary">Change</button>
    {{ form_end(registrationForm) }}

    <script>
        document.getElementById('changedPassword').onchange = function() {
            document.getElementById('edit_user_form_newPassword').disabled = !this.checked;
            document.getElementById('edit_user_form_newPassword').value = null;
        };
    </script>
{% endblock %}
