{% extends 'base.html.twig' %}

{% block title %}| Register{% endblock %}

{% block content %}
    <h1 class="h3 mb-3 font-weight-normal">Become A Writer</h1>


    {{ form_start(registrationForm) }}
        <p>
            {{ form_errors(registrationForm) }}
        </p>
        <label class="label">{{ form_label(registrationForm.email) }}</label>
        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control mb-3'}}) }}

        <label class="label">{{ form_label(registrationForm.username) }}</label>
        {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control mb-3'}}) }}

        <label class="label">{{ form_label(registrationForm.display_name) }}</label>
        {{ form_widget(registrationForm.display_name, {'attr': {'class': 'form-control mb-3'}}) }}
        
        <small class="text-muted small">This password should be unique to opium</small>
        <br>
        <label class="label">Password</label>
        {{ form_widget(registrationForm.plainPassword,  {'attr': {'class': 'form-control mb-3'}}) }}

        <div class="input">
            {{ form_label(registrationForm.agreeTerms, "Agree to Terms and Conditions and that you're 18 or older ", {'attr': {'class': 'form-check-label'}}) }}
            {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input mb-3'}}) }}
        </div>

        <p><a href="/terms-and-conditions">Terms and Conditions</a></p>
        <p><a href="/privacy-policy">Privacy Policy</a></p>
        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
