{% extends 'base.html.twig' %}

{% block title %}| {{ writer.username }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm">
            <h1 class="h1">{{ writer.displayName }}</h1>
            <h4>
                <span class="h4 fw-bold">@{{ writer.username }}</span>
                <span> ● </span>
                <span class="h4 fw-light">{{ writer.subscribers.count }} Subscriber{{ (writer.subscribers.count == 1) ? '' : 's' }}</span>
            </h4>
            {% if writer.bio %}
                <h5>{{ writer.bio }}</h5>
            {% endif %}
        </div>
        <div class="col-sm d-flex justify-content-end align-items-center ">
            {% if app.user and app.user.username == writer.username %}
                {# <a class="btn btn-primary m-2" href="{{ path('app_saved') }}" style="height: fit-ontent">Saved</a> #}
                <a class="btn btn-primary m-2" href="{{ path('app_edit_account') }}" style="height: fit-content">Edit Account</a>
                <a class="btn btn-danger m-2" href="{{ path('app_logout') }}" style="height: fit-content">Logout</a>
            {% else %}
                {% if app.user %}
                    {% if writer in app.user.subscriptions %}
                        <a class="btn btn-primary m-2" href="{{ path('app_unsubscribe', {'username': writer.username}) }}" style="height: fit-content">Unsubscribe</a>
                    {% else %}
                        <a class="btn btn-primary m-2" href="{{ path('app_subscribe', {'username': writer.username}) }}" style="height: fit-content">Subscribe</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>

    </div>
    <hr>
    {% if not posts %}
        {% if app.user and app.user.username == writer.username %}
            <h3 class="text-muted text-center">No Capsules:( Why don't you write something</h3>
        {% else %}
            <h3 class="text-muted text-center">Who ever runs this account is antisocial</h3>
        {% endif %}
    {% else %}
        {% if app.user and app.user.username == writer.username %}
            <h2 class="h2 text-muted">Your Capsules</h2>
        {% else %}
            {% if writer.displayName|last == 's' %}
                <h2 class="h2 text-muted">{{ writer.displayName }}' Capsules</h2>
            {% else %}
                <h2 class="h2 text-muted">{{ writer.displayName }}'s Capsules</h2>
            {% endif %}
        {% endif %}
    {% endif %}

    {% include 'capsules.html.twig' %}

    <div class="m-4">
        {% if posts|length > 0 %}
            {{ pagerfanta(pager) }}
        {% endif %}
    </div>
{% endblock %}

