{% extends "base.html.twig" %}
{% block title %}| New Capsule{% endblock %}
{% block content %}
    {% if data['replying-to'] is defined %}
    <h1>Replying To {{ data['replying-to'].creator.displayName }}</h1>
        {% include 'capsule.html.twig' with {'post': data['replying-to']} %}
    {% else %}
        <h1>New Capsule</h1>
    {% endif %}
{#    <div class="alert alert-secondary">#}
{#        <span>All capsules go through a 3-day embargo. After they leave the embargo they cannot be deleted. <a#}
{#                    href="{{ path('app_about') }}">Learn more here</a></span>#}
{#    </div>#}
    {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>
        <div class="mb-3">
            <label class="form-label">{{ form_label(form.title) }}</label>
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="row">
            <div class="col-sm">
                <label class="form-label">{{ form_label(form.tagInput) }}</label>

                <ul class="mb-3 list-group" id="tagList">
                </ul>

                <div class="mb-3">
                    {{ form_widget(form.tagInput, {'attr': {'class': 'form-control', 'placeholder': 'ex: #hello (don\'t forget to hit enter)'}}) }}
                </div>
            </div>
            <div class="col-sm">
                <label class="form-label">{{ form_label(form.sourceInput) }}</label>

                <ul class="mb-3 list-group" id="sourceList">
                </ul>

                <div class="mb-3">
                    {{ form_widget(form.sourceInput, {'attr': {'class': 'form-control', 'placeholder': 'ex: https://google.com (don\'t forget to hit enter)'}}) }}
                </div>
            </div>
        </div>


        <div class="mb-3">
            <label class="form-label">{{ form_label(form.content) }}</label>
            {{ form_widget(form.content, {'attr': {'class': 'form-control', 'rows': '10'}}) }}
        </div>

        {{ form_row(form._token) }}
        <div class="d-flex justify-content-between mb-5">
            <div class="">
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                <button id="saveToDrafts" class="btn btn-secondary" formaction="{{ path('app_new_capsule', {id: "new"}) }}?isDraft=true">Save to Drafts</button>
            </div>
            <a class="btn btn-outline-secondary" href="{{ url('app_view_capsule', {id: 91}) }}">Learn more</a>
        </div>
    {{ form_end(form, {render_rest: false}) }}
{% endblock %}

{% block javascripts %}
    <script defer>


        let post_content = document.getElementById('post_content');
        post_content.addEventListener('keyup', () => {
            if (post_content.value) {
                post_content.rows = Math.max(((post_content.value.match(/\n/g)) || []).length + 1, 10);
            }
        });
        post_content.addEventListener('keydown', (e) => {
            if (e.key == 'Tab') {
                e.preventDefault();
                let start = post_content.selectionStart;
                let end = post_content.selectionEnd;

                post_content.value = post_content.value.substring(0, start) +
                    "\t" + post_content.value.substring(end);

                post_content.selectionStart =
                    post_content.selectionEnd = start + 1;
            }
        });

        if (post_content.value) {
            post_content.rows = Math.max(((post_content.value.match(/\n/g)) || []).length + 1, 10);
        }

        let post_tagInput = document.getElementById('post_tagInput');
        let tagList = document.getElementById('tagList');

        let tags = [];

        function appendTag(tagName) {
            if (!tagName) return;
            tagName.split(',').forEach(tag => {
                tag = tag.replace('#', '');
                tags.push(tag);

                let newTag = document.createElement('li');
                newTag.innerText = "#" + tag
                newTag.classList.add('list-group-item')

                newTag.addEventListener("click", (e) => {
                    newTag.remove()
                    tags.splice(tags.length-1, 1)
                })

                tagList.appendChild(newTag)
            });
        }

        post_tagInput.addEventListener('keypress', (e) => {
            if (e.key === "Enter") {
                e.preventDefault()
                appendTag(post_tagInput.value)
                post_tagInput.value = ""
            }
        })

        let post_sourceInput = document.getElementById('post_sourceInput');
        let sourceList = document.getElementById('sourceList');

        let sources = [];

        function appendSource(sourceName) {
            if (!sourceName) return;
            sourceName.split(',').forEach(source => {
                sources.push(source);

                let newSource = document.createElement('li');
                newSource.innerText = source
                newSource.classList.add('list-group-item')

                newSource.addEventListener("mouseover", (e) => {
                    newSource.classList.add("list-group-item-danger")
                })

                newSource.addEventListener("mouseout", (e) => {
                    newSource.classList.remove("list-group-item-danger")
                })

                newSource.addEventListener("click", (e) => {
                    newSource.remove()
                    sources.splice(sources.length - 1, 1)
                })

                sourceList.appendChild(newSource)
            })
        }

        post_sourceInput.addEventListener('keypress', (e) => {
            if (e.key === "Enter") {
                e.preventDefault()
                appendSource(post_sourceInput.value)
                post_sourceInput.value = ""
            }
        })


        appendTag(post_tagInput.value)
        post_tagInput.value = ""
        appendSource(post_sourceInput.value)
        post_sourceInput.value = ""

        document.addEventListener("submit", (e) => {
            post_tagInput.value = ""
            post_sourceInput.value = ""

            tags.forEach((tag, index) => {
                post_tagInput.value += tag;
                if (index < tags.length - 1) {
                    post_tagInput.value += ",";
                }
            })
            sources.forEach((source, index) => {
                post_sourceInput.value += source;
                if (index < sources.length - 1) {
                    post_sourceInput.value += ",";
                }
            })
        })
    </script>
{% endblock %}
