<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <meta name="description" content="What's your opinion">
        <meta property="og:title" content="OPIUM.PRESS" />
        <meta property="og:description" content="What's your opinion" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://opium.press" /> 
        <meta property= "og:image" content="{{ asset('images/card.png') }}" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta
          name="twitter:description"
          content="What's your opinion"
        />
        <meta name="twitter:title" content="OPIUM.PRESS" />
        <meta
          name="twitter:image"
          content="https://opium.press{{ asset('images/card.png') }}"
        />
        <link rel="apple-touch-icon" href="{{ asset('images/card.png') }}" />
        <title>OPIUM.PRESS {% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/Opium.svg') }}">
        <link rel="apple-touch-icon" href="{{ asset('images/Opium.svg') }}" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <script defer src="{{ asset('css/bootstrap.js') }}"></script>
        <script>
            /*to prevent Firefox FOUC, this must be here*/
            let FF_FOUC_FIX;
        </script>
    </head>
    <body class="" style="min-height: 100vh">
        <nav class="navbar navbar-expand-sm" style="margin-bottom: 20px">
            <div class="container-lg d-flex">
                <div>
                <a class="navbar-brand" href="/"><img alt="Opium Logo" src="{{ asset('images/Opium.svg') }}" alt="" height="30" ></a>
{#                {% if app.user %}#}
{#                    <strong class="me-4">Welcome Back,  {{ app.user.displayName }}</strong>#}
{#                {% else %}#}
{#                    <strong class="me-4">By Jaden, With Love</strong>#}
{#                {% endif %}#}
                </div>
                <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                >
                    <span class="navbar-dark navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ path('app_homepage') }}">Home</a>
                        </li>
                        {% if app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_subscriptions') }}">Subscriptions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_new_capsule', {id: "new"}) }}">New Capsule</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_drafts') }}">Drafts</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_register') }}">Sign Up</a>
                            </li>
                        {% endif %}
                        {% if app.user %}
                            {% if not is_granted('ROLE_ADMIN') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_embargo') }}">Embargo</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_writer', {'username': app.user.username}) }}">My Profile</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_admin') }}">Admin</a>
                            </li>
                        {% endif %}
                    </ul>

                    <form class="d-flex" type="search" method="get" action="/">
                        <input
                                class="form-control me-2"
                                placeholder="Search Capsules"
                                id="searchInput"
                                name="q"
                                value="{{ app.request.query.get('q') }}"
                        />
                        <button
                                class="btn btn-outline-primary"
                                type="submit">
                            Search
                        </button>
                    </form>

                </div>
            </div>
        </nav>
        <div class="body container-lg mb-5">
            {% block content %}{% endblock %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>


