<div class="card" id="{{ post.id }}" style="margin: 20px 0; overflow: visible">
    <h6 class="card-header"
        style="cursor: pointer;"
        onclick="window.location='{{ path('app_view_capsule', {'id': post.id}) }}'">
        <div class="col-sm d-flex flex-row" style="flex-grow: 1">
            {% if (app.user and is_granted('ROLE_ADMIN')) or not post.creationDate or post.isInEmbargo %}
                <a
                        href="{{ path('app_delete_capsule', {'id': post.id}) }}"
                        onclick="return confirm('Are you sure you want to delete this');"
                >
                    <img class="icon" alt="Trash can" src="{{ asset('regular/trash-can.svg') }}" style="margin-right:20px; width: 1rem;">
                </a>
            {% endif %}
            {% if (post.creationDate and post.isInEmbargo) %}
                <a
                        href="{{ path('app_revert_capsule', {'id': post.id}) }}"
                        onclick="return confirm('Are you sure you want to send this capsule back to drafts (it will reset the embargo)');"
                >
                    <img class="icon" alt="Send Back to Drafts" src="{{ asset('solid/clock-rotate-left.svg') }}" style="margin-right:20px; width: 1rem;">
                </a>
            {% endif %}
            {% if post.creationDate %}
                <a href="{{ path('app_share_capsule', {'id': post.id}) }}">
                  <img class="icon" alt="Instagram Logo" src="{{ asset('brands/instagram.svg') }}" style="margin-right:20px; width: 1rem;">
                </a>
            {% else %}
                <a href="{{ path('app_new_capsule', {'id': post.id}) }}">
                    <img class="icon" alt="share" src="{{ asset('regular/pen-to-square.svg') }}" style="margin-right:20px; width: 1rem;">
                </a>
            {% endif %}
            {% if app.user and post.creationDate and not post.isInEmbargo  %}
                <a href="{{ path('app_new_capsule', {'id': 'new', 'replying-to': post.id}) }}">
                    <img class="icon" alt="Reply" src="{{ asset('regular/share-from-square.svg') }}" style="margin-right: 20px; width: 1rem;">
                </a>
            {% endif %}
{#            {% if app.user %}#}
{#                {% if post in app.user.getSavedPosts %}#}
{#                    <a href="{{ path('app_unsave', {'id': post.id}) }}">#}
{#                        <img class="icon" src="{{ asset('solid/bookmark.svg') }}" style="margin-right:20px; width: 0.8rem;" alt="">#}
{#                    </a>#}
{#                {% else %}#}
{#                    <a href="{{ path('app_save', {'id': post.id}) }}">#}
{#                        <img class="icon" src="{{ asset('regular/bookmark.svg') }}" style="margin-right:20px; width: 0.8rem;" alt="">#}
{#                    </a>#}
{#                {% endif %}#}
{#            {% endif %}#}
            <a href="{{ path('app_writer', {"username": post.creator.username}) }}"
                style="text-decoration:none;" class="d-block text-capitalize text-muted">{{ post.creator.displayName }}</a>
            <a href="{{ path('app_writer', {"username": post.creator.username}) }}"
                class="d-block mx-2 fw-light text-muted">@{{ post.creator.username }}</a>
        </div>
    </h6>
    {% if post.creationDate or post.tags or post.reply%}
        <div class="m-2">
            {% if post.creationDate %}
                <span class="d-block text-muted">{{ post.creationDate | format_datetime(locale='en', pattern="MMMM dd, yyyy 'at' h:m a", timezone='America/Los_Angeles') }}</span>
            {% endif %}
            {% for tag in post.tags %}
                <a href="{{ path('app_homepage', {'q': '#' ~ tag}) }}"  style="text-decoration: none;" class="badge text-bg-primary mx-1">#{{ tag }}</a>
            {% endfor %}
            {% if post.reply %}
                <a href="{{ path('app_view_capsule', {'id': post.reply.id}) }}">Replying to {{ post.reply.title }}</a>
            {% endif %}
        </div>
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <div class="card-text">
            <p id="{{ post.id }}-content" class="card-content "
               style="white-space: pre-wrap"
            >{{ post.content}}</p>
        </div>
    </div>
    {% if post.sources %}
        <div class="card-footer">
            <b>Sources:</b>
            <ul class="mb-0">
                {% for source in post.sources %}
                    <li>
                        {% if "https://" in source or "http://" in source %}
                            <a href="{{ source }}">{{ source }}</a>
                        {% else %}
                            <span class="m-0">{{ source }}</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
