{% extends 'base.html.twig' %}

{% block content %}
    <div class="text-center row d-flex ">
        <div class="mb-3 col-sm d-flex flex-column justify-content-center align-items-center">
            <img src="{{ src }}"
                 height="600vh"
                 class="story rounded mb-5">
            <a download id="shareImage" class="btn btn-primary">Share to Story</a>
        </div>
        <div class="col-sm d-flex flex-column justify-content-center align-items-center">
            <h1 class="mb-5">Use this link</h1>
            <p class="alert alert-secondary">{{ url }}</p>
        </div>
    </div>
    <script>
        const shareButton = document.getElementById('shareImage');

        shareButton.addEventListener('click', (e) => {
            if (navigator.share) {
                navigator.share({
                    title: "@{{ writer.username }} on Opium.Press",
                    text: "{{ writer.displayName }}",
                    url: "{{ src }}"
                });
            } else {
                window.location = "{{ src }}";
            }
        });
    </script>
{% endblock %}
